*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#f4f9ff;
color:#333;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 10%;
background:#0056d6;
color:white;
}

.logo{
font-size:22px;
font-weight:bold;
}

nav ul{
display:flex;
list-style:none;
}

nav ul li{
margin-left:20px;
}

nav a{
text-decoration:none;
color:white;
font-weight:bold;
}

.cta{
background:#00a2ff;
padding:8px 15px;
border-radius:20px;
}

.hero{
text-align:center;
padding:100px 20px;
background:linear-gradient(120deg,#0066ff,#00c6ff);
color:white;
}

.gallery-section{
padding:60px 10%;
text-align:center;
}

.gallery{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:15px;
margin-top:30px;
}

.gallery img{
width:100%;
height:200px;
object-fit:cover;
border-radius:10px;
transition:0.4s;
}

.gallery img:hover{
transform:scale(1.08);
}

.courses{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:30px;
padding:40px;
}

.course{
width:300px;
background:white;
border-radius:10px;
box-shadow:0 5px 15px rgba(0,0,0,0.1);
padding:20px;
text-align:center;
}

.course img{
width:100%;
height:180px;
object-fit:cover;
border-radius:8px;
}

.map img{
width:100%;
max-width:800px;
margin-top:30px;
border-radius:10px;
}

footer{
background:#002a6e;
color:white;
text-align:center;
padding:25px;
margin-top:60px;
}

.socials a{
margin:0 10px;
color:white;
text-decoration:none;
}

.fade{
opacity:0;
transform:translateY(40px);
transition:1s;
}

.fade.show{
opacity:1;
transform:translateY(0);
}
